.ce-delimiter {
    margin-bottom: 1rem;
    margin-top: 1rem;
    opacity: 0.5;
    text-align: center;
    width: 100%;
}

.ce-delimiter:before {
    display: inline-block;
    counter-increment: ce-delimiter-page 1;
    content: "*** ページ " counter(ce-delimiter-page) " ***";
    font-size: 24px;
    letter-spacing: 0.2em;
}